@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@font-face {
    font-family: 'Exo Space';
    src: url('./font/Exo_space.ttf');
}
@font-face {
    font-family: 'Alfa Slab One';
    src: url('./font/AlfaSlabOne-Regular.ttf');
}
@font-face {
    font-family: 'CYBORG';
    src: url('./font/Cyborg.ttf');  
}



    * {
        cursor: url(arrow/gray24.png),auto;
        padding: 0;
        margin: 0;
        box-sizing: border-box; 
        font-family: 'Baloo Bhai 2', cursive;
    }

    html {
        scroll-behavior: smooth;
    }

    a{
        text-decoration: none;
    }
    ::-webkit-scrollbar {
        display: none;
    }


    /* =====scroll bar======= */
    .header {
        position: fixed;
        top: 50px;
        z-index: 1;
        width: 100%;
    }

    .progress-bar {
        height: 10px;
        background: #001C55;
        width: 0%;
    }


/* ========smooth scroll up========== */
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}
  
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}



    /* ===========css for navbar=========== */
    .top-nav {
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: #E0E0E0;
        color: #001C55;
        padding: 1em;
        position:fixed;
        z-index: 1;
        top: 0;
        }
    
        #nav-menu {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: 0;
        padding: 0;
        }
    
        #nav-menu > li {
        margin: 0 1rem;
        overflow: hidden;
        }
    
        .menu-button-container {
        display: none;
        width: 30px;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }
    
        #menu-toggle {
        display: none;
        }
    
        .menu-button,
        .menu-button::before,
        .menu-button::after {
        display: block;
        background-color: black;
        position: absolute;
        height: 4px;
        width: 30px;
        transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
        border-radius: 2px;
        }
    
        .menu-button::before {
        content: '';
        margin-top: -8px;
        }
    
        .menu-button::after {
        content: '';
        margin-top: 8px;
        }
    
        #menu-toggle:checked + .menu-button-container .menu-button::before {
        margin-top: 0px;
        transform: rotate(405deg);
        }
    
        #menu-toggle:checked + .menu-button-container .menu-button {
        background: rgba(255, 255, 255, 0);
        }
    
        #menu-toggle:checked + .menu-button-container .menu-button::after {
        margin-top: 0px;
        transform: rotate(-405deg);
        }
    
    
        .nav-link {
        text-decoration: none;
        color: #001C55;
        }
    
        #nav-menu>li{
        font-weight: bold;
        }

    /* -----------------------------------media query for nav bar--------------------------------- */
@media (max-width: 878px) {
    .menu-button-container {
      display: flex;
    }
    #nav-menu {
      position: absolute;
      top: 0;
      margin-top: 50px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    #menu-toggle ~ #nav-menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ #nav-menu li {
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #nav-menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: black;
      background-color: #fff;
    }
  }



      /* ====================== css for home ========================= */

      .box1 {
        width: 100%;
        text-align: center;
        margin-top: 70px;
    }

    .box10 {
        padding-top: 20px;
        -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
        font-size: 35px;
    }

    .box10 span {
        display: inline-block;
        animation: box10 2s infinite;
        animation-delay: calc(.1s * var(--i));
        color: #001C55;
    
    }


    @keyframes box10 {
        0%,40%,100% {
            transform: translateY(0)
        }
        20% {
            transform: translateY(-20px)
        }
    }

    .box11{
        display: flex;
        margin-top: 50px;
    }

    .box111{
        width: 60%;
        /* font-family: 'Exo Space'; */
        font-size: 28px;
        text-align: left;
        padding: 40px;
        color: #001C55;
    }
    .box112{
        width: 40%;
    }
    .box112>img{
        max-width: 60%;
    }
    .wlcm_note{
        font-size: 24px;
        margin-bottom: 20px;
    }

    .btn_div{
        width: fit-content;
        margin: auto;
    }

    #resume-button-1{
        padding: 5px 10px; 
        font-size: 18px;
        background-color: #001C55;    
        border: none;
        border-radius: 7px;
        box-shadow: 9px 7px 32px -11px #72351C;
        transition: all .3s ease-in-out 0s; 
        margin-top: 20px;  
        transform: rotate(-3.6deg);          
    }

    #resume-button-1:hover{
        border: 3px solid #635e87;
        box-shadow: #001C55 0px 3px 29px 0px;
        
    }

    #resume-button-1:hover, #resume-button-1>a:hover{
        cursor: url(arrow/h30.png),auto;
    }
    #resume-button-1>a{
        text-decoration: none;
        color: #E0E0E0; 
    }

 /* ====================== css for about ========================= */

 .box0{
    /* background-color: #E0E0E0; */
    padding: 30px;
}

.box01{
    width: fit-content;
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 20px;
}
.box01>h1{
    padding: 5px;
    transform: rotate(-3.6deg);
    border-radius: 12px;
    color: #001C55;
    border: 4px solid #001C55;
    font-weight: bolder;
}

#about{
    color: #001C55; 
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-col-1 img{
    max-height: 80%;
    max-width: 80%;
    border-radius: 50%;
    border: 3px solid #72351C;
}
.about-col-2{
    flex-basis: 70%;
}
.about-col-2>p{
    font-size: 22px;
    font-weight: bold;
}
.tab-title{
    display: flex;
    margin: 20px 0 20px;
}
.tab-title>p{
    font-weight: bold;
}
.tab-links{
    margin-right: 50px;
    font-size: 20px;
    font-weight: 500;
    cursor: url(arrow/h30.png),auto;
    position: relative;
}
.tab-links:hover{
    color: #72351C;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #72351C;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.7s; 
}
.active-link{
    color: #72351C;
}
.tab-links.active-link::after{
    width: 100%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
        
.tab-contents ul li span{
    color: #72351C;
    font-size: 18px;
    font-weight: bold;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
.tab-contents ul li .co{
    color: #001C55;
    font-size: 15px;
    letter-spacing: 1px;
}

.aboutSkill{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(310px,1fr));
}

